<form>
    <img src="assets/cliente.png">

    <input type="text"   placeholder="Nome"   class="form-control" name="nome"   [(ngModel)]="cliente.nome">
    <input type="number" placeholder="Idade"  class="form-control" name="idade"  [(ngModel)]="cliente.idade">
    <input type="text"   placeholder="Cidade" class="form-control" name="cidade" [(ngModel)]="cliente.cidade">

    <input type="button" value="Cadastrar" *ngIf="botaoCadastro"  class="btn btn-primary"   (click)="post()">
    <input type="button" value="Alterar"   *ngIf="!botaoCadastro" class="btn btn-warning"   >
    <input type="button" value="Remover"   *ngIf="!botaoCadastro" class="btn btn-danger"    >
    <input type="button" value="Cancelar"  *ngIf="!botaoCadastro" class="btn btn-secondary" >
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of clientes">
            <td>{{ c.codigo }}</td>
            <td>{{ c.nome }}</td>
            <td>{{ c.idade }}</td>
            <td>{{ c.cidade }}</td>
            <td><button class="btn btn-success">Selecionar</button></td>
        </tr>
    </tbody>
</table>